* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --border-color: #cbd5e1;
  --color-emphasis: #f97316;
  --color-button: #ea580c;
  --size-app-inner-width: 250px;
}

body { 
  display:flex;
  flex-direction:column;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
}

p {
  font-size: 14pt;
}
